/* Fonts */
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.otf');
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url('../fonts/gilroy-bold.otf');
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url('../fonts/gilroy-medium.otf');
}

/* animations */
@keyframes pulse {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}

@keyframes halfpulse {
    0% {
      width: 0;
    }
    100% {
      width: 45%;
    }
}

@keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}

@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}

@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}

@keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}

@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}

@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}

/* effects */
.flipout {
    transform: rotateY(-90deg) scale(.9);
    -webkit-transform: rotateY(-90deg) scale(.9);
    animation-name: flipouttoleft;
    -webkit-animation-name: flipouttoleft;
    animation-duration: 175ms;
    -webkit-animation-duration: 175ms;
    -moz-transform: rotateY(-90deg) scale(.9);
    -moz-animation-name: flipouttoleft;
    -moz-animation-duration: 175ms;
    position: absolute;
}

.flipin {
    animation-name: flipintoright;
    -webkit-animation-name: flipintoright;
    animation-duration: 225ms;
    -webkit-animation-duration: 225ms;
    -moz-animation-name: flipintoright;
    -moz-animation-duration: 225ms;
}

/* container */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center
}

/* left content */
#burger {
    display: none;
}

.content-left {
    width: 15%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
}

.profile--menu {
    width: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcfcfd;
}

.profile--menu-img > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #5d7aed;
    margin-top: 10px;
}

.profile--icons {
    margin-top: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile--menu-static {
    background-image: url('../images/noun-dashboard.png');
    background-repeat: no-repeat
}

.profile--menu-static:hover {
    background-image: url('../images/noun-dashboard-blue.png');
}

.profile--menu-personal {
    background-image: url('../images/noun-tag.png');
    background-repeat: no-repeat
}

.profile--menu-personal:hover {
    background-image: url('../images/noun-tag-blue.png');
}

.profile--menu-favorite {
    background-image: url('../images/noun-love.png');
    background-repeat: no-repeat
}

.profile--menu-favorite:hover {
    background-image: url('../images/noun-love-blue.png');
}

.profile--menu-payment {
    background-image: url('../images/noun-bank.png');
    background-repeat: no-repeat
}

.profile--menu-payment:hover {
    background-image: url('../images/noun-bank-blue.png');
}

.profile--menu-cart {
    position: relative;
    background-image: url('../images/noun-cart.png');
    background-repeat: no-repeat
}

.profile--menu-cart:hover {
    background-image: url('../images/noun-cart-blue.png');
}

.profile--icons_active {
    background-image: url('../images/noun-tag-blue.png');
}

.profile--menu-cart span {
    position: absolute;
    right: -7px;
    top: -7px;
    background: #f85c73;
    font-family: 'Gilroy-Medium';
    font-size: 0.5rem;
    padding: 4px 5px;
    color: #fff;
    border-radius: 50%;
}

/* left content's right content(personal zone) */
.content-left--content {
    background: #3d5fe7;
    min-height: 100vh;
    width: 100%;
}

.content-left--content_title {
    background: #3857d4;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px; 
}

.content-left--content_title h2 {
    margin: 0;
    font-family: 'Gilroy-Medium';
    font-size: 1.1rem;
    color: white;
}

.content-left--content_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.menu-item {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Gilroy';
    font-size: 0.8rem;
    color: white;
    margin-top: 10px;
    padding: 10px 10px;
}

.menu-item:hover {
    cursor: pointer;
    background: #ffffff;
    color: #5976f8;
}

.menu-item_active {
    background: #ffffff;
    color: #5976f8;
}

/* right content */
.content-right {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 85%;
    background: #fcfcfd;
}

.content-right_title {
    width: 100%;
    height: 70px;
    background: #f5f5f5;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.content-right_title span {
    color: #887e7e;
    font-family: 'Gilroy';
    font-size: 1.1rem;
    margin: 0;
}

.content-right--myPlan {
    width: 35%;
    min-width: 540px;
    border-right: 1px solid #e3e3e3;
}

.content-right--myPlan_title {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 40px;
}

.content-right__title h2 {
    margin: 0;
    color: #625a5a;
    font-size: 1.1rem;
    font-family: 'Gilroy-Medium';
}

.content-right--invoices {
    flex-grow: 1;
    height: calc(100% - 70px);
}

.content-right--invoices_title {
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
}

.content-right--invoices_title span {
    color: #625a5a;
    font-size: 0.9rem;
    font-family: 'Gilroy-Medium';
    cursor: pointer;
}

.content-right--myPlan_packages {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 40px;
}

.myPlan_packages {
    min-width: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 2px 2px -2px #908b8b;
    margin-top: 20px;
    padding: 20px 20px;
    color: #4b4b4b;
}

.myPlan_packages_desc {
    width: 50%;
}

.myPlan_packages_price {
    width: 25%;
    display: flex;
    justify-content: center;
}

.myPlan_packages_btn {
    width: 25%;
    display: flex;
    justify-content: right;
    margin-left: 10px;
}

.myPlan_packages_desc h3 {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Gilroy-Medium';
}

.myPlan_packages_desc span {
    font-size: 0.9rem;
    font-family: 'Gilroy-Medium';
}

.myPlan_packages_price h3 {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Gilroy-Medium';
}

.myPlan_packages_price sup {
    font-size: 0.9rem;
    font-family: 'Gilroy-Medium';
}

.myPlan_packages_price sup span{
    font-size: 0.8rem;
    font-family: 'Gilroy';
}

.myPlan_packages_btn button {
    width: 115px;
    background: #5977f8;
    color: white;
    padding: 10px 0px;
    border: 0;
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: 'Gilroy-Medium';
}

.myPlan_packages_btn button:hover {
    cursor: pointer;
    background: white;
    color: #5977f8;
    border: 1px solid #5977f8;
}

.myPlan_packages:hover {
    background: linear-gradient(-45deg, #ffde93, #f85171);
    color: white;
    box-shadow: none;
}

.active-packages {
    background: linear-gradient(-45deg, #ffde93, #f85171);
    color: white;
    box-shadow: none;
}

.active-btn button {
    background: white;
    color:  #f85171;
}

.content-right--myPlan_packages h4 a{
    color: #635b5b;
    font-family: 'Gilroy';
    font-size: 0.8rem;
    margin-top: 40px;
    text-decoration: none;
}

.content-right--myPlan_packages h4 a:hover {
    cursor: pointer;
    color: #419bf9;
}

.content-right--payment {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.content-right--payment_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-right--payment_title h2 {
    margin: 0;
    color: #625a5a;
    font-size: 1.1rem;
    font-family: 'Gilroy-Medium';
}

.content-right--payment_title span {
    color: #6c6464;
    font-size: 0.8rem;
    font-family: 'Gilroy';
    display: flex;
    align-items: center;
}

.content-right--payment_title img {
    margin-right: 5px;
}

.content-right--payment_title span:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #419bf9;
}

.content-right--payment_card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 2px 2px -2px #908b8b;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card--image {
    width: 70px;
    display: flex;
    justify-content: center;
}

.card-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.card-info h3 {
    margin: 0;
    color: #887e7e;
    font-size: 0.8rem;
    font-family: 'Gilroy-Medium';
}

.card-info span {
    margin-top: 10px;
    color: #968d8d;
    font-size: 0.8rem;
    font-family: 'Gilroy';
}

.card-info span a{
    color: #5f7cf8;
    text-decoration: none;
}

.card-edit a {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #968d8d;
    font-size: 0.8rem;
    font-family: 'Gilroy';
    text-decoration: none;
}

.content-right--payment_card:hover {
    border: 1px solid #419bf9;
    box-shadow: none;
}

.active-payment {
    border: 1px solid #419bf9;
    box-shadow: none;
}

/* Invoices */
.content-right--invoices_history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px 20px 60px;
}

.invoice {
    margin-top: 10px;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    color: #908b8b;
    font-family: 'Gilroy';
    font-size: 0.9rem;
}

.invoice:hover {
    cursor: cell;
    color: #625a5a;
    font-family: 'Gilroy-Medium';
    box-shadow: 0 2px 2px -2px #908b8b;
}

.invoice:hover .invoice_download {
    color: #5977f8;
}

.invoice_download:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* payment method */

.container__registration {
    position: absolute;
    align-self: center;
    background: rgb(83,115,252, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_tab {
    height: 450px;
    width: 520px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #303237;
}

.close__button {
    background: #d8d8d8;
    color: #fff;
    width: 22px;
    height: 22px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-end
}

.close__button:hover {
    cursor: pointer;
    background: #ff0063;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 40px 30px 40px;
}

.form h2 {
    margin: 0;
    font-family: 'Gilroy-Medium';
    color: #3a415d;
    font-size: 1.3rem;
}

.form__info {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy';
    font-size: 0.8rem;
    color: #656565;
    margin-top: 25px;
}

.form__info div:first-child {
    border-bottom: 1px solid #656565;
    width: max-content
}

.reg__info {
    background: linear-gradient(-45deg, #ffde93, #f85171);
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.reg__info_first-col {
    width: 60%;
}

.reg__info_first-col h2 {
    color: white;
}

.reg__info_first-col span {
    font-family: 'Gilroy';
    color: white;
    font-size: 0.8rem;
}

.reg__info_second-col h2 {
    color: white;
    margin-right: 20px;
}

.reg__info_second-col h2 sup {
    color: white;
    font-size: 0.8rem;
    font-family: 'Gilroy';
}

.form__inputs input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #d8d8d8;
    font-family: 'Gilroy';
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.form__inputs input::placeholder {
    color: #303237;
    font-family: 'Gilroy';
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.input-container input:focus {
    outline: none;
    border-bottom: 2px solid #000;
    animation: pulse 1s;
}

.form__button {
    background: #5373fc;
    border: 0;
    color: #fff;
    font-family: 'Gilroy-Medium';
    cursor: pointer;
    border-radius: 30px;
    height: 45px;
    font-size: 0.9rem;
    opacity: .5;
}

.form__button:hover {
    box-shadow: 0 0 5px #4a90e2;
}

.reg__inputs_firts-column {
    width: 65%;
}

.reg__inputs_firts-column label {
    position: relative;
    width: 100%;
}

.reg__inputs_second-column {
    margin-left: 20px;
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.reg__inputs_second-column label:first-child,
.reg__inputs_second-column label:last-child {
    position: relative;
    width: 45%;
}

.reg__inputs_third-column {
    position: relative;
    width: 10%;
}

.reg__inputs_third-column label{
    width: 100%;
}

#MM,
#YY {
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    text-align: center;
}

#MM:focus,
#YY:focus {
    border-bottom: 2px solid #000;
    animation: halfpulse 0.5s;
}

#cvv {
    text-align: center;
}

#visa {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 30px;
    height: 10px;
    display: none;
}

.payment_placeholder {
    pointer-events: none;
    position: absolute;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    color: #4e546d;
    font-family: 'Gilroy';
    font-size: 0.8rem;
    width: max-content;
}

.MM_placeholder {
    left: 7px;
    top: 0px;
}

.card_placeholder {
    left: 5px;
    top: 0px;
}

.YY_placeholder {
    left: 10px;
    top: 0px;
}

.CVV_placeholder {
    left: 7px;
    top: 0px;
}

.input-container input:focus + .payment_placeholder, .input-container input:not(:placeholder-shown) + .payment_placeholder {
    opacity: .5;
    transform: scale(0.75) translateY(-180%) translateX(0px);
}

#card:focus + .payment_placeholder, #card:not(:placeholder-shown) + .payment_placeholder {
    transform: scale(0.75) translateY(-180%) translateX(-20px);
}

#card {
    position: relative;
}

.card_error {
    font-family: 'Gilroy';
    color: #ff0063;
    font-size: 0.7rem;
    position: absolute;
    top: 30px;
}

.reg2__bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg2__bottom_text {
    width: 50%;
}

.reg2__bottom_text h2 {
    color: #5373fc;
    font-family: 'Gilroy-Medium';
    font-size: 0.9rem;
}

.reg2__bottom_text span {
    color: #767676;
    font-family: 'Gilroy';
    font-size: 0.8rem;
}

.reg2__button {
    width: 180px;
    margin: auto;
    opacity: .5;
}

.disable {
    display: none
}


/* responisve for mobiles */
@media (max-width: 45rem) {
    .container {
        max-height: 100vh;
    }

    .form_tab {
        width: 95%;
        max-width: 520px;
    }

    .form {
        margin: 0 20px 20px 20px;
    }

    .input-container {
        margin-top: 10%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .reg__inputs_firts-column {
        width: 100%;
    }

    .reg__info_first-col h2 {
        font-size: 0.9em;
    }
    
    .reg__info_first-col span {
        font-size: 0.6em;
    }

    .reg__inputs_second-column {
        width: 70%;
        justify-content: space-around;
        margin-top: 20px;
        margin-left: 0px;
    }

    .reg__info_second-col h2 {
        font-size: 0.9em;
    }

    .reg__inputs_third-column {
        margin-top: 20px;
        width: 20%;
    }

    #MM, #YY {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }

    .card_placeholder {
        left: 5px;
        top: 5px;
    }

    .MM_placeholder {
        left: 30%;
        top: 5px;
    }
    
    .YY_placeholder {
        left: 35%;
        top: 5px;
    }
    
    .CVV_placeholder {
        left: 35%;
        top: 5px;
    }

    .reg2__bottom_text h2{
        font-size: 0.9em;
    }

    .reg2__bottom_text span{
        font-size: 0.6em;
    }

    .content-left {
        display: none;
        width: 100%;
        max-width: initial;
    }

    #burger[type=checkbox] + label  {
        position: fixed;
        top: 20px;
        right: 20px;
        height: 20px;
        width: 20px; 
        z-index: 1;
    }
    
    .burger__line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: #020304;
        transition: .5s;
    }
    
    .burger__line:first-child {
        top: 3px; 
    }
    
    .burger__line:last-child {
        top: 16px; 
    }
    
    #burger__menu:hover {
        cursor: pointer;
      }
    
    #burger[type=checkbox]:checked + #burger__menu span{ 
        opacity: 0;
        top: 50%;
        background: white;
    }
    
    #burger[type=checkbox]:checked + #burger__menu span:first-child {
        opacity: 1;
        transform: rotate(405deg);
        background: white;
    }
    
    #burger[type=checkbox]:checked + #burger__menu span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
        background: white;
    }

    .content-right {
        width: 100%;
    }

    .content-right_title {
        height: 70px;
        padding-left: 20px;
    }

    .content-right--myPlan_title {
        padding-left: 20px;
    }

    .content-right--myPlan {
        width: 100%;
        min-width: initial;
        min-height: 100vh;
    }

    .content-right--myPlan_packages {
        padding: 10px 20px;
    }
    
    .myPlan_packages {
        min-width: initial;
        flex-wrap: wrap;
    }

    .active-packages {
        background: linear-gradient(-45deg, #ffde93, #f85171);
        color: white;
        box-shadow: none;
    }

    .myPlan_packages_desc {
        width: 100%;
        text-align: center
    }
    
    .myPlan_packages_price {
        width: 100%;
        margin-top: 20px;
    }
    
    .myPlan_packages_btn {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .content-right--payment {
        padding: 20px 20px;
    }

    .content-right--invoices {
        width: 100%;
        height: initial;
    }
    
    .content-right--invoices_title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-right--invoices_history {
        padding: 20px 40px 20px 40px;
    }
}

    /* responsive for tablets */
@media (min-width: 46rem) and (max-width: 70rem) {
    .content-right_title {
        padding-left: 40px;
    }

    .content-right--myPlan_title {
        padding-left: 40px;
    }

    .content-right--myPlan {
        width: 100%;
    }
    
    .myPlan_packages {
        min-width: initial;
    }

    .content-right--invoices {
        width: 100%;
        height: initial;
    }
    
    .content-right--invoices_title {
        padding-left: 40px;
        padding-right: 50px;
    }

    .content-right--invoices_history {
        padding: 20px 60px 20px 60px;
    }
}
